



body{
    background-image:url("../res/debut_dark.png");
    background-color: blue;
    padding:0px;
    margin-top: 0px;
    font-size:100%;
}
body div{
    background-image:url("../res/creampaper.png");
    padding:        13% 0 0 0;
    margin-left:    5%;
    margin-right:   5%;
    -webkit-box-shadow: 0 0.1em 0.1em 0.1em #000;
}
body div header{
    font-family: Tahoma,serif;
    font-size: 10vh;
}
section {
    font-family: Arial;
    padding: 3%;
}
nav{
    position: fixed;
    font-size: 5vh;
}
nav ul {
    margin:    0;
    padding:   0;
}
nav ul li {
    display: inline;
    position: relative;
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    text-decoration: none;
    background-color: #2C5463;
    color: #FFFFFF;
    height: 2em;
    line-height:2em;
    text-align: center;
    -webkit-box-shadow: inset 0 0 0 0.1em #000;
}
nav ul li a:hover {
    background: #617F8A;
}
nav ul li a span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
